* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: SkyBlue;
  justify-content: center;
  text-align: center;
  position: absolute;
  line-height: normal;
  width: 100%;
  overflow: hidden;
}

h1 {
  line-height: 1;
}
button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  width: 220px;
}

button:hover {
  background-color: lavender;
}


